/logo.webp
/portfolio.jpg
/portfolio2.jpg
/Reem_Medhat_CV (3).docx
/Reem_Medhat_CV (3).pdf
/Reem_Medhat_CV.docx
/WhatsApp Image 2025-08-07 at 16.30.19_70013395.jpg
/WhatsApp Image 2025-08-07 at 16.31.45_da3beea3.jpg
/WhatsApp Image 2025-08-07 at 16.32.41_9d0a78c0.jpg
/~$em_Medhat_CV (3).docx